<!---Main-->
<launch>
  <node pkg="summon" type="robot_setup.py" name="robot_setup"/>
  <node pkg="summon" type="source_localization_serial.py" name="source_localization_serial"/>
  <node pkg="summon" type="summon.py" name="summon" output="screen"/>

<!---Speech to Text-->
  <node pkg="summon" type="recognizer.py" name="recognizer">
    <param name="lm" type="string" value="/home/ubuntu/catkin_ws/src/summon/data/TAR2619/2619.lm" />
    <param name="dic" type="string" value="/home/ubuntu/catkin_ws/src/summon/data/TAR2619/2619.dic" />
  </node>

<!---Text to Speech-->
  <node pkg="summon" type="soundplay_node.py" name="soundplay_node"/>
  <node pkg="summon" type="talk.py" name="talk"/>

</launch>
